[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=BaroScript
Comment=MyScript
Icon=/home/pi/BaroScript/BaroScript.png
Exec=/home/pi/BaroScript/BaroScript.sh
Terminal=false
StartupNotify=false
Categories=Utility